In [3]:
import pandas as pd

In [4]:
class interesInexistente( Exception ): 
    pass
class TasaExcesiva( Exception ): 
    pass
class montoInexistente( Exception ): 
    pass
class montoNegativo( Exception ): 
    pass
class plazoNegativo( Exception ): 
    pass

import pandas as pd
def calcularCuota (compra, interes, plazo):
    if interes == 0 :
        return 0
    
    if interes*12 > 100:
        raise TasaExcesiva( "La tasa no debe ser superior a 100")
    
    if plazo == 1: 
        return 0
    
    if compra <= 0: 
        if compra== 0 :
            raise montoInexistente( "debe existir un monto")
        else:
            raise montoNegativo( "monto negativo")
        
    if plazo <= 0: 
        if plazo== 0 :
            return 0
        else:
            raise plazoNegativo( "el plazo debe ser positivo")    
    else:
        i= interes/100
        cuota=(compra * i) / (1 - (1 + i) ** (-plazo))
        return (cuota)#*plazo)# - compra

9297.95911564735

In [24]:
compra = 200000
interes = 3.1
plazo = 36
listadf=[]
cuota=calcularCuota (compra, interes, plazo)

for i in range(plazo):
    listadf.append([cuota,(compra-cuota)*interes/100,cuota-(compra-cuota)*interes/100 , compra-cuota])
    compra-=cuota

In [26]:
dataf = pd.DataFrame(listadf, columns=["Cuota","Interes","amortizacion","saldo"])
dataf.tail()

          Cuota      Interes  amortizacion          saldo
31  9297.959116 -3023.575443  12321.534558  -97534.691701
32  9297.959116 -3311.812175  12609.771291 -106832.650816
33  9297.959116 -3600.048908  12898.008024 -116130.609932
34  9297.959116 -3888.285640  13186.244756 -125428.569048
35  9297.959116 -4176.522373  13474.481489 -134726.528163