<a href="https://colab.research.google.com/github/Luis7123/amortizacion/blob/main/cuotas_CodLimpio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importar librerias.

In [2]:
import pandas as pd

In [50]:
# @title Funcion Calcular Cuota
class interesInexistente( Exception ):
    pass
class TasaExcesiva( Exception ):
    pass
class montoInexistente( Exception ):
    pass
class montoNegativo( Exception ):
    pass
class plazoNegativo( Exception ):
    pass
class InteresNegativo( Exception ):
    pass

import pandas as pd
def calcularCuota (compra, interes, plazo):
    if interes == 0 :
        return 0

    if interes < 0:
        raise InteresNegativo( "El interes debe de ser un numero mayor a cero")

    if interes*12 > 100:
        raise TasaExcesiva( "La tasa no debe ser superior a 100")

    if plazo == 1:
        return 0

    if compra <= 0:
        if compra== 0 :
            raise montoInexistente( "debe existir un monto")
        else:
            raise montoNegativo( "monto negativo")

    if plazo <= 0:
        if plazo== 0 :
            return 0
        else:
            raise plazoNegativo( "el plazo debe ser positivo")
    else:
        i= interes/100
        cuota=(compra * i) / (1 - (1 + i) ** (-plazo))
        return (cuota)#*plazo)# - compra

In [85]:
# @title DataFrame amortizacion
def dataf(compra,interes,plazo,abono,abono_mes):
    compra = compra
    interes = interes
    plazo = plazo
    amortizacion=0
    interes_cuota=0

    cuota=calcularCuota (compra, interes, plazo)
    cuota_Cambio=calcularCuota (compra, interes, plazo)
    listadf=[[cuota,interes,amortizacion,compra]]

    for i in range(plazo):
        if abono_mes-1 == i :
          cuota = abono
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota
        else:
          cuota = cuota_Cambio
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota


        if compra < cuota:
          listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])

          cuota = compra+compra*interes/100
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota
        listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])

        if compra <= 1*10**-3:
          break
    return pd.DataFrame(listadf, columns=["Cuota","Interes","amortizacion","saldo"])

In [86]:
# @title Interfaz

amortizacion= True # @param {type:"boolean"}
Calcular_Cuota = False # @param {type:"boolean"}

Compra = 200000 # @param {type:"number"}
Interes = 3.1 # @param {type:"number"}
Plazo = 36 # @param {type:"number"}
Desea_Abonar = True # @param {type:"boolean"}
if Desea_Abonar ==True:
  Abono = 53000 # @param {type:"number"}
  En_Que_Cuota = 10 # @param {type:"number"}


if amortizacion == True:
  if Desea_Abonar==True:
    display(dataf(Compra,Interes,Plazo,Abono,En_Que_Cuota))
  else:
    display(dataf(Compra,Interes,Plazo))
if Calcular_Cuota == True:
  print("\n La cuota mensual será : ",calcularCuota (Compra, Interes, Plazo))

           Cuota      Interes  amortizacion       saldo
0    9297.959116     3.100000      0.000000  200000.000
1    9297.959116  6200.000000   3097.959116  196902.041
2    9297.959116  6103.963267   3193.995848  193708.045
3    9297.959116  6004.949396   3293.009720  190415.035
4    9297.959116  5902.866095   3395.093021  187019.942
5    9297.959116  5797.618211   3500.340904  183519.601
6    9297.959116  5689.107643   3608.851473  179910.750
7    9297.959116  5577.233247   3720.725868  176190.024
8    9297.959116  5461.890746   3836.068370  172353.956
9    9297.959116  5342.972626   3954.986490  168398.969
10  53000.000000  5220.368045  47779.631955  120619.337
11   9297.959116  3739.199454   5558.759661  115060.578
12   9297.959116  3566.877905   5731.081211  109329.496
13   9297.959116  3389.214387   5908.744728  103420.752
14   9297.959116  3206.043301   6091.915815   97328.836
15   9297.959116  3017.193910   6280.765205   91048.071
16   9297.959116  2822.490189   6475.468927   84572.602
17   9297.959116  2621.750652   6676.208463   77896.393
18   9297.959116  2414.788190   6883.170926   71013.222
19   9297.959116  2201.409891   7096.549224   63916.673
20   9297.959116  1981.416865   7316.542250   56600.131
21   9297.959116  1754.604056   7543.355060   49056.776
22   9297.959116  1520.760049   7777.199067   41279.577
23   9297.959116  1279.666878   8018.292238   33261.284
24   9297.959116  1031.099818   8266.859297   24994.425
25   9297.959116   774.827180   8523.131936   16471.293
26   9297.959116   510.610090   8787.349026    7683.944
27   7922.146472   238.202270   7683.944201       0.000