In [1]:
import pandas as pd

In [2]:
class interesInexistente( Exception ): 
    pass
class TasaExcesiva( Exception ): 
    pass
class montoInexistente( Exception ): 
    pass
class montoNegativo( Exception ): 
    pass
class plazoNegativo( Exception ): 
    pass

import pandas as pd
def calcularCuota (compra, interes, plazo):
    if interes == 0 :
        return 0
    
    if interes*12 > 100:
        raise TasaExcesiva( "La tasa no debe ser superior a 100")
    
    if plazo == 1: 
        return 0
    
    if compra <= 0: 
        if compra== 0 :
            raise montoInexistente( "debe existir un monto")
        else:
            raise montoNegativo( "monto negativo")
        
    if plazo <= 0: 
        if plazo== 0 :
            return 0
        else:
            raise plazoNegativo( "el plazo debe ser positivo")    
    else:
        i= interes/100
        cuota=(compra * i) / (1 - (1 + i) ** (-plazo))
        return (cuota)#*plazo)# - compra

In [3]:
def dataf(compra,interes,plazo):
    compra = compra
    interes = interes
    plazo = plazo
    amortizacion=0
    interes_cuota=0 

    cuota=calcularCuota (compra, interes, plazo)
    listadf=[[cuota,interes,amortizacion,compra]]

    for i in range(plazo):  
        interes_cuota=compra*interes/100
        amortizacion=cuota-compra*interes/100
        compra=compra-cuota+interes_cuota

        listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])
    return pd.DataFrame(listadf, columns=["Cuota","Interes","amortizacion","saldo"])

In [11]:
compra = 200000
interes = 3.1
plazo = 36


dataf(compra,interes,plazo).tail(5)

          Cuota      Interes  amortizacion      saldo
32  9297.959116  1316.279233   7981.679883  34478.941
33  9297.959116  1068.847156   8229.111959  26249.829
34  9297.959116   813.744685   8484.214430  17765.614
35  9297.959116   550.734038   8747.225078   9018.389
36  9297.959116   279.570061   9018.389055     -0.000