In [1]:
import pandas as pd

In [2]:
class interesInexistente( Exception ): 
    pass
class TasaExcesiva( Exception ): 
    pass
class montoInexistente( Exception ): 
    pass
class montoNegativo( Exception ): 
    pass
class plazoNegativo( Exception ): 
    pass

import pandas as pd
def calcularCuota (compra, interes, plazo):
    if interes == 0 :
        return 0
    
    if interes*12 > 100:
        raise TasaExcesiva( "La tasa no debe ser superior a 100")
    
    if plazo == 1: 
        return 0
    
    if compra <= 0: 
        if compra== 0 :
            raise montoInexistente( "debe existir un monto")
        else:
            raise montoNegativo( "monto negativo")
        
    if plazo <= 0: 
        if plazo== 0 :
            return 0
        else:
            raise plazoNegativo( "el plazo debe ser positivo")    
    else:
        i= interes/100
        cuota=(compra * i) / (1 - (1 + i) ** (-plazo))
        return (cuota)#*plazo)# - compra

In [14]:
compra = 200000
interes = 3.1
plazo = 36
amortizacion=0
interes_cuota=0 

cuota=calcularCuota (compra, interes, plazo)
listadf=[[cuota,interes_cuota,amortizacion,compra]]

for i in range(plazo):  
    interes_cuota=compra*interes/100
    amortizacion=cuota-compra*interes/100
    compra=compra-cuota+interes_cuota
    

    listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])
    #listadf.append([cuota,listadf[i-1][3]*interes/100,cuota-(listadf[i-1][3])*interes/100 , compra])

In [15]:
dataf = pd.DataFrame(listadf, columns=["Cuota","Interes","amortizacion","saldo"])
dataf

          Cuota      Interes  amortizacion       saldo
0   9297.959116     0.000000      0.000000  200000.000
1   9297.959116  6200.000000   3097.959116  196902.041
2   9297.959116  6103.963267   3193.995848  193708.045
3   9297.959116  6004.949396   3293.009720  190415.035
4   9297.959116  5902.866095   3395.093021  187019.942
5   9297.959116  5797.618211   3500.340904  183519.601
6   9297.959116  5689.107643   3608.851473  179910.750
7   9297.959116  5577.233247   3720.725868  176190.024
8   9297.959116  5461.890746   3836.068370  172353.956
9   9297.959116  5342.972626   3954.986490  168398.969
10  9297.959116  5220.368045   4077.591071  164321.378
11  9297.959116  5093.962722   4203.996394  160117.382
12  9297.959116  4963.638834   4334.320282  155783.061
13  9297.959116  4829.274905   4468.684211  151314.377
14  9297.959116  4690.745694   4607.213421  146707.164
15  9297.959116  4547.922078   4750.037037  141957.127
16  9297.959116  4400.670930   4897.288186  137059.839
17  9297.959116  4248.854996   5049.104119  132010.734
18  9297.959116  4092.332769   5205.626347  126805.108
19  9297.959116  3930.958352   5367.000764  121438.107
20  9297.959116  3764.581328   5533.377788  115904.730
21  9297.959116  3593.046617   5704.912499  110199.817
22  9297.959116  3416.194329   5881.764786  104318.052
23  9297.959116  3233.859621   6064.099495   98253.953
24  9297.959116  3045.872537   6252.086579   92001.866
25  9297.959116  2852.057853   6445.901263   85555.965
26  9297.959116  2652.234913   6645.724202   78910.241
27  9297.959116  2446.217463   6851.741653   72058.499
28  9297.959116  2233.813472   7064.145644   64994.353
29  9297.959116  2014.824957   7283.134159   57711.219
30  9297.959116  1789.047798   7508.911318   50202.308
31  9297.959116  1556.271547   7741.687568   42460.620
32  9297.959116  1316.279233   7981.679883   34478.941
33  9297.959116  1068.847156   8229.111959   26249.829
34  9297.959116   813.744685   8484.214430   17765.614
35  9297.959116   550.734038   8747.225078    9018.389
36  9297.959116   279.570061   9018.389055      -0.000

In [ ]:
196902-cuota+ 6200