<a href="https://colab.research.google.com/github/Luis7123/amortizacion/blob/main/cuotas_CodLimpio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importar librerias.

In [2]:
import pandas as pd

In [91]:
# @title Funcion Calcular Cuota
class interesInexistente( Exception ):
    pass
class TasaExcesiva( Exception ):
    pass
class montoInexistente( Exception ):
    pass
class montoNegativo( Exception ):
    pass
class plazoNegativo( Exception ):
    pass
class InteresNegativo( Exception ):
    pass

import pandas as pd
def calcularCuota (compra, interes, plazo):
    '''
    la compra hecha , el interes hecho por la entidad
    plazo propuesto para pagar
    '''

    if interes == 0 :
        return 0

    if interes < 0:
        raise InteresNegativo( "El interes debe de ser un numero mayor a cero")

    if interes*12 > 100:
        raise TasaExcesiva( "La tasa no debe ser superior a 100")

    if plazo == 1:
        return 0

    if compra <= 0:
        if compra== 0 :
            raise montoInexistente( "debe existir un monto")
        else:
            raise montoNegativo( "monto negativo")

    if plazo <= 0:
        if plazo== 0 :
            return 0
        else:
            raise plazoNegativo( "el plazo debe ser positivo")
    else:
        # Calculo de la cuota luego de filtros
        i= interes/100
        cuota=(compra * i) / (1 - (1 + i) ** (-plazo))
        return (cuota)

In [87]:
# @title DataFrame amortizacion
class abonoBajo( Exception ):
    pass
class cuotaTardia( Exception ):
    pass

def dataf(compra,interes,plazo,abono,abono_mes):
    compra = compra
    interes = interes
    plazo = plazo
    amortizacion=0
    interes_cuota=0

    cuota=calcularCuota (compra, interes, plazo)
    cuota_Cambio=calcularCuota (compra, interes, plazo)
    listadf=[[cuota,interes,amortizacion,compra]]

    # Comprobar que el abono sea superior
    if abono < cuota:
        raise abonoBajo( " El abono es muy bajo ")

    # Ciclo de la amortizacion.
    for i in range(plazo):
        if abono_mes-1 == i :
          if abono > compra:
            raise cuotaTardia(" La cuota extra supera el saldo")

          cuota = abono
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota
        else:
          cuota = cuota_Cambio
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota

        #Filtros de negativos
        if compra < cuota:
          listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])

          cuota = compra+compra*interes/100
          interes_cuota=compra*interes/100
          amortizacion=cuota-compra*interes/100
          compra=compra-cuota+interes_cuota
        listadf.append([cuota,interes_cuota,amortizacion,round(compra,3)])

        if compra <= 1*10**-3:
          break
    return pd.DataFrame(listadf, columns=["Cuota","Interes","amortizacion","saldo"])

In [94]:
# @title Interfaz

amortizacion= True # @param {type:"boolean"}
Calcular_Cuota = False # @param {type:"boolean"}

Compra = 200000 # @param {type:"number"}
Interes = 3.1 # @param {type:"number"}
Plazo = 36 # @param {type:"number"}
Desea_Abonar = True # @param {type:"boolean"}
if Desea_Abonar ==True:
  Abono = 53000 # @param {type:"number"}
  En_Que_Cuota = 20 # @param {type:"number"}


if amortizacion == True:
  if Desea_Abonar==True:
    display(dataf(Compra,Interes,Plazo,Abono,En_Que_Cuota))
  else:
    display(dataf(Compra,Interes,Plazo))
if Calcular_Cuota == True:
  print("\n La cuota mensual ser√° : ",calcularCuota (Compra, Interes, Plazo))

           Cuota      Interes  amortizacion       saldo
0    9297.959116     3.100000      0.000000  200000.000
1    9297.959116  6200.000000   3097.959116  196902.041
2    9297.959116  6103.963267   3193.995848  193708.045
3    9297.959116  6004.949396   3293.009720  190415.035
4    9297.959116  5902.866095   3395.093021  187019.942
5    9297.959116  5797.618211   3500.340904  183519.601
6    9297.959116  5689.107643   3608.851473  179910.750
7    9297.959116  5577.233247   3720.725868  176190.024
8    9297.959116  5461.890746   3836.068370  172353.956
9    9297.959116  5342.972626   3954.986490  168398.969
10   9297.959116  5220.368045   4077.591071  164321.378
11   9297.959116  5093.962722   4203.996394  160117.382
12   9297.959116  4963.638834   4334.320282  155783.061
13   9297.959116  4829.274905   4468.684211  151314.377
14   9297.959116  4690.745694   4607.213421  146707.164
15   9297.959116  4547.922078   4750.037037  141957.127
16   9297.959116  4400.670930   4897.288186  137059.839
17   9297.959116  4248.854996   5049.104119  132010.734
18   9297.959116  4092.332769   5205.626347  126805.108
19   9297.959116  3930.958352   5367.000764  121438.107
20  53000.000000  3764.581328  49235.418672   72202.689
21   9297.959116  2238.283349   7059.675766   65143.013
22   9297.959116  2019.433401   7278.525715   57864.487
23   9297.959116  1793.799103   7504.160012   50360.327
24   9297.959116  1561.170143   7736.788973   42623.538
25   9297.959116  1321.329685   7976.629431   34646.909
26   9297.959116  1074.054172   8223.904943   26423.004
27   9297.959116   819.113119   8478.845996   17944.158
28   9297.959116   556.268893   8741.690222    9202.468
29   9487.744124   285.276496   9202.467627      -0.000